/* SECCIÓN DE PROPIEDADES COMUNES ------------------------------------------------------------ */

body{
    min-height:84vh;
    background: linear-gradient(black, purple);
}

main{
    margin-top: 90px;
    margin-bottom: 30px;
}

h2{
    color: white;
    text-align: center;
}

.carrousel{
    max-height: 82vh;
    object-fit:contain;
}

/* HEADER  --------------------------------------------------------------------*/

/* MAIN -------------------------------------------------------------------- */

/* FOOTER  -------------------------------------------------------------------- */
footer{
    background-color: rgb(71, 23, 116);
    border: 3px black;
    padding: 0.5rem;
    position:fixed;
    bottom:0;
    width:100vw
}
label{
    color:white;
    text-align: center;
}